.isCorrect {
  border-color: oklch(76.8% 0.233 130.85);
}

.isCorrect span {
  background-color: oklch(76.8% 0.233 130.85);
  color: white;
}

.isNotCorrect {
  border-color: oklch(63.7% 0.237 25.331);
}

.isNotCorrect span {
  background-color: oklch(63.7% 0.237 25.331);
  color: white;
}